$drum-pad-color: rgb(44, 109, 249);

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 80px 0px 0px;
}

#display {
  width: 240px;
  min-height: 66px;
  padding: 0px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
}

#drum-pad-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  height: 80px;
  width: 80px;
  background-color: $drum-pad-color;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: $drum-pad-color;
  opacity: 0.8;
}

button.active {
  background-color: #fff;
  color: rgb(113, 44, 249);
  border: 1px solid rgb(113, 44, 249);
}
